$c-g: #ddd;
$c-m : #004e90;
$f-s: 14px;
$f-m: 17px;
$f-b: 20px;

body {
  overflow-x: hidden;
}

.Wrapper {
  min-width: 1900px;
}


.inner {
  width: 1170px;
  margin: 0 auto;
}

.Header {
  .top_bar {
    border-bottom: 1px solid $c-g;
    font-size: $f-s;

    .inner {
      justify-content: flex-end;
      line-height: 20px;

      li {
        border-right: 1px solid $c-g;
        padding: 0 5px;
      }
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 50px;
      line-height: 90px;
      font-size: $f-b;
      font-weight: 500;
    }

    a {
      position: relative;
      display: block;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: $c-m;

      }

      &.active::after {
        width: 100%;
        transition: 0.5s;
      }
    }


  }

  .Footer {
    border-top: 1px solid #ddd;
    padding: 50px 0;
    text-align: center;
    background: #f4f4f4;
    line-height: 22px;
    font-size: 14px;

    li {
      display: inline-block;

    }

  }


}